@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

@font-face {
	font-family: 'GT Walsheim';
	src: url('/fonts/gt-walsheim-regular.otf') format('opentype'); /* Updated to OTF */
	font-weight: normal;
	font-style: normal;
}

:root {
	font-family: 'GT Walsheim', 'Fira Sans', sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: inherit;
}

a {
	color: white;
	text-decoration: inherit;
}

ul {
	list-style: none;
}

body {
	color: white;
	background-color: black;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.noise {
	position: fixed;
	z-index: 9999;
	top: -300%;
	left: -150%;
	height: 600%;
	width: 600%;
	background-image: url('/noise.png');
	background-size: 200px;
	background-repeat: repeat;
	opacity: 0.2;
	pointer-events: none;
}

.scroll_container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	will-change: transform;
}

::selection {
	background-color: #a997df;
	color: #030202;
}

/* custom scrollbar */
::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb:active {
	background: rgba(255, 255, 255, 0.6);
}

::-webkit-scrollbar-corner {
	background: rgba(0, 0, 0, 0);
}

.fluid-canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
	pointer-events: none;
}

.dot {
	position: absolute;
	border-radius: 50%;
	background-color: white;
	width: 8px;
	height: 8px;
	transform: translate(-50%, -50%);
}

.borderDot {
	position: absolute;
	border-radius: 50%;
	border: 1px solid white;
	width: 20px;
	height: 20px;
	transform: translate(-50%, -50%);
	transition: width 0.3s, height 0.3s;
}

.borderDot.hovering {
	width: 30px;
	height: 30px;
}
.dark {
	.dot {
		background-color: black;
	}

	.borderDot {
		border-color: black;
	}
}
